body{width: 1000px; margin: 0 auto; background-color: whitesmoke;}
header{height: 280px; margin: 0;}
a{text-decoration: none;}

#head .image{width: 50px; height: 50px; float: left;}

.navi{background-color: white; width: 800px; height: 60px; margin-top: -250px;}
.navi ul{list-style: none; height: 30px; padding-top: 15px; font-weight:bold; text-align: justify;}
.navi li{display: inline; margin: 0 30px;}
/* 네비게이션 확대*/
li:hover{color:black; font-size:1em;}
.navi a:link, .navi a:visited{color: black;}
.navi a:hover, .navi :focus{color:black; text-shadow: 1px 1px 1px black;}
.navi a:active{color: firebrick;}
#dd{position:absolute; top: 10vh; right: 10vw;}
#side{list-style: none; margin-left: 100px; width: 500px;}
#side li{display: inline-block;}
.bm{width:800px; height:500px; margin: 0; background: url(img/main.jpg) no-repeat left top; background-size: cover; background-position: center;}
section {position: static; width: 650px; padding-left: 30px; float: left; text-align: center;}
/* footer */
footer { clear: both; height:60px ;background-color: white; 
        color: black; text-align: center; padding-top: 15px;}
footer address, footer p {font-size: 13px;}